-#  This file is app/views/games/index.html.haml
%h2 All Video Games

%table#games.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
      %th Genre
      %th Score
      %th Developer
  %tbody
    - @games.each do |game|
      %tr
        %td= game.title
        %td= game.genre
        %td= game.score
        %td= game.developer
